.different-about {
    padding-top: 4.375rem;
    padding-bottom: 4.375rem;
    flex-direction: column;
    padding-left: 0;

    @include breakpoint-up(large) {
        flex-direction: row;
        padding-left: 1.5rem;
    }

    &__intro {
        flex: 1;
        text-align: center;
        padding: 0 1.1rem;

        @include breakpoint-up(large) {
            text-align: left;
            padding: 0;
        }

        h1 {
            font-size: 2rem;
            margin-top: 0;
            line-height: 1.1;

            @include breakpoint-up(large) {
                font-size: 2.375rem;
            }
        }

        p {
            margin-bottom: 2rem;
            width: auto;

            @include breakpoint-up(large) {
                width: 22rem;
            }
        }
    }

    &__description {
        flex: 1;
        padding-left: 1rem;

        .activities {
            .activity-item {
                display: flex;
                align-items: baseline;

                .button {
                    padding: 9px 24px !important;
                }

                .activity-description {
                    width: 90%;
                    margin-left: 0;

                    @include breakpoint-up(large) {
                        margin-left: 1.5rem;
                        width: 75%;
                    }

                    h3 {
                        font-size: 1rem;
                        background: $veryPaleRed;
                        padding: 5px 0px 9.5px 26px;
                        margin-left: -14px;

                        @include breakpoint-up(large) {
                            background: transparent;
                            padding: 0;
                            margin-left: 0;
                            font-size: 0.96875rem;
                        }
                    }

                    p {
                        font-size: 0.9375rem;
                        position: relative;
                        left: -3.75rem;
                        width: 120%;

                        @include breakpoint-up(large) {
                            width: 26.5625rem;
                            font-size: 0.96875rem;
                            left: 0;
                        }
                    }
                }
            }
        }
    }
}