.footer {
    color: $veryLightGray;
    background: $veryDarkBlue;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 4rem 0;
    }

    &__images {
        flex: 0.8;
    }

    &__logo {
        img {
            margin-top: 0.3125rem;
        }
    }

    &__social {
        margin-top: 5rem;

        svg {
            cursor: pointer;
            transition: all 300ms ease-in-out;

            &:not(:last-child) {
                margin-right: 10px;
            }

            &:hover {
                path {
                    fill: $brightRed;
                }
            }
        }
    }

    &__nav {
        flex: 1;
        display: flex;
        justify-content: space-between;

        .footer__links {
            display: flex;
            flex-direction: column;

            a {
                font-size: 15px;
                color: $veryLightGray;
                transition: all 300ms ease-in-out;

                &:not(:last-child) {
                    margin-bottom: 15px;
                }

                &:hover {
                    color: $brightRed;
                }
            }
        }
    }

    &__form {
        display: flex;
        justify-content: flex-end;

        input {
            outline: 0;
            border: none;
            padding: 0.6875rem 1.625rem;
            border-radius: 50px;
        }

        .button {
            margin-left: 0.5rem;
        }
    }

    &__copy {
        flex: 1.2;

        p {
            margin-bottom: 0;
            text-align: end;
            font-size: 14px;
            margin-top: 69px;
        }
    }
}