.simplify {
    margin-top: 12rem;
    height: 14rem;
    background: $brightRed;
    background-image: url('../../images/bg-simplify-section-desktop.svg');

    .container {
        flex: 1;

        h1 {
            color: $veryLightGray;
            font-size: 2.4375rem;
            width: 30rem;
            line-height: 1.1;
        }

        div {
            margin-left: auto;

            .button {
                background: $veryLightGray;
                color: $brightRed;
                font-weight: 700;
            }
        }
    }
}